<div class="page-title">
  <h1 class="page-title">Signup</h1>
</div>
<section class="card-container">
  <p>
    <div class="card" style="width: 45rem;">
      <div class="card-body">
        <form action="/auth/signup" method="POST" id="form-container">
          <label for="name">Name <font color="red" size="5px">*</font></label>
          <input id="name" type="text" name="name" placeholder="{{input.[0]}}">

          <br><br>
          <label for="email">Email <font color="red" size="5px">*</font></label>
          <input type="text" name="email" id="email" placeholder="{{input.[1]}}" style="width: 250px;">
          <br><br>

          <label for="adress">Adresse</label>
          <input type="text" name="adress" id="adress" placeholder="{{input.[3]}}" style="width: 250px;">
          <br><br>
          <label for="phone">Telefon</label>
          <input type="text" name="phone" id="phone" placeholder="{{input.[2]}}">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}

          <br><br>

          <button class="btnAll btn2">Schüler erstellen</button>
        </form>
      </div>
    </div>
  </p>
</section>