<div class="page-title">
  <h1 class="page-title">Admin - Alle Kurse</h1>
</div>

<div class="manage-container">
<h1>Hier werden alle Kurse angezeigt, diese Seite können nur Admins sehen.<br>Here you can see and edit all courses.
  This page is only accessible by admin</h1>
</div>


<br>
<div class="manage-container">
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h2><button class="btnAll btn2"><a href="/admin/courses/add">Neuen Kurs erstellen</a></button></h2>
  </div>
</div>
</div>

<div class="manage-container">
<div class="card" style="width: 80rem;">
  <h2>Aktive Kurse</h2>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Lehrer</th>
        <th>Schüler</th>
        <th>Daten</th>
        <th>Löschen? </th>
      </tr>
      {{#each activeCourses}}
      <tr>
        <td><a href="/admin/courses/details/{{this._id}}">{{this.name}}</a></td>
        <td>{{this.teacher}}</td>
        <td>{{#each this._students}}{{this.name}}{{/each}}</td>
        <td>{{this.dates.length}}</td>
        <td><a href="/admin/courses/delete/{{this._id}}" onclick="return confirm('Sicher, dass du diesen Kurs löschen möchtest?');">Löschen</a></td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
</div>

<br>

<div class="manage-container">
<div class="card" style="width: 80rem;">
  <h3>Zukünftige Kurse</h3>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Lehrer</th>
        <th>Daten</th>
        <th>Löschen? </th>
      </tr>
      {{#each futureCourses}}
      <tr>
        <td><a href="/admin/courses/details/{{this._id}}">{{this.name}}</a></td>
        <td>{{this.teacher}}</td>
        <td>{{this.dates.length}}</td>
        <td><a href="/admin/courses/delete/{{this._id}}" onclick="return confirm('Sicher, dass du diesen Kurs löschen möchtest?');">Löschen</a></td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
</div>

<br>
<div class="manage-container">
<div class="card" style="width: 80rem;">
  <h3>Workshops</h3>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Lehrer</th>
        <th>Schüler</th>
        <th>Daten</th>
        <th>Beschreibung</th>
        <th> Löschen?</th>
      </tr>
      {{#each workshops}}
      <tr>
        <td><a href="/admin/courses/details/{{this._id}}">{{this.name}}</a></td>
        <td>{{this.teacher}}</td>
        <td>{{#each this._students}}{{this.name}}{{/each}}</td>
        <td>{{this.dates.length}}</td>
        <td>{{this.description}}</td>
        <td><a href="/admin/courses/delete/{{this._id}}" onclick="return confirm('Sicher, dass du diesen Workshop löschen möchtest?');">Löschen</a></td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
</div>