<div class="page-title">
  <h1 class="page-title">Admin - Kurs Details</h1>
</div>
<p>
  <section class="card-container">

    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text">
          <ul>
            <li>Lehrer: {{course.teacher}}</li>
            <li>Schüleranzahl: {{course.capacity}}</li>
            <li>Beschreibung: {{course.description}}</li>
            <li>Startdatum: {{course.startDate}}</li>
            <li>Status: {{course.status}}</li>
            <li>Typ: {{course.type}}</li>
          </ul>
          <br>
          <h5>Schüler:</h5>
          <ul>
            {{#each course._students}}
            <li>{{this.name}}</li>
            {{/each}}
          </ul>
          <br>
          <h5>Daten:</h5>
        </p>
        <ul>
          {{#each course.dates}}
          <li>{{this.date}}</li>
          {{/each}}
        </ul>
        <a href="/admin/courses/details/{{course._id}}/edit" class="btnHref">Bearbeiten</a>
        
      </div>
    </div>
    {{#if type}}
    <div class="card" style="width: 150rem;">
      <div class="card-body">
        <table class="table">
          <tr>
            <th scope="col">Daten</th>
            {{#each course.dates}}
            <th scope="col">{{this.date}}</th>
            {{/each}}
          </tr>
          <tr>
            <th scope="row">Aussetzende Schüler</th>
            {{#each course.dates}}<td>
            {{#each this.skip}}
              {{this}}<br/>
            {{/each}}</td>
            {{/each}}
          </tr>
        </table>
        <a href="/admin/courses/details/{{course._id}}/editSkip" class="btnHref">Bearbeiten</a>
        
      </div>
    </div>
    {{/if}}

  </section>
</p>