<div class="page-title">
  <h1 class="page-title">Admin - Bearbeite das Aussetzen</h1>
</div>
<p>
  <section class="card-container">

    <div class="card" style="width: 150rem;">
      <div class="card-body">
        <form action="/admin/courses/details/{{course._id}}/editSkip" method="post">
          <table class="table">
            <tr>
              <th>Datum</th>
              {{#each course.dates}}
              <th>{{this.date}}</th>
              {{/each}}
            </tr>
            <tr>
              <th>Aussetzender Schüler</th>
              {{#each course.dates}}
              <td><select name="selectSkip" id="selectSkip">
                  <option value="{{this.skip}}" selected>{{this.skip}}</option>
                  <option value="Niemand">Niemand</option>
                  {{#each ../course._students}}
                  <option value="{{this.name}}">{{this.name}}</option>
                  {{/each}}
                </select></td>
              {{/each}}
            </tr>
          </table>

          <button type="submit">Aktualisieren</button>
        </form>
      </div>
    </div>

  </section>
</p>