<div class="page-title">
  <h1 class="page-title">Organisiere den nächsten Kurs</h1>
</div>
<br>
<div class="manage-container">
<h1>Anfragen</h1>
</div>

<div class="manage-container">
  <div class="card" style="width: 80rem;">

<table style="width:100%" class="table">
  <tr>
    <th>Schüler Name</th>
    <th>Lösche Anfrage <br>(lädt Seite neu!)</th>
    <th>Erste Wahl</th>
    <th>Zweite Wahl</th>
    <th>Dritte Wahl</th>
  </tr>
  {{#each requests}}
  <tr>
    {{#if this._share.name}}
    <td>{{this._user.name}}/{{this._share.name}}</td>
    {{else}}
    <td>{{this._user.name}}</td>
    {{/if}}
    <form action="/admin/request/delete/{{this._id}}" method="POST">
      <td><button action="submit" class="btnAll btn2 delete-btn">Löschen</button></td>
    </form>
    {{#each this._preferences}}
    <td>{{this.name}}</td>
    {{/each}}
  </tr>
  {{/each}}
</table>
<br><br><br>
  </div>
</div>

<form action="/admin/generate-enrollment" method="POST">
<div class="manage-container">
  <button class="btnAll btn2" action="submit">Vorschlag für Kurse generieren!</button>
</div>
</form>



<div class="manage-container">
<div class="card" style="width: 130rem">
<table style="width:100%" class="table">
  <tr>
    {{#each suggestion}}
    <th>{{@key}}</th>
    {{/each}}
  </tr>
  <tr>
    <form action="/admin/enroll" method="POST">

      {{#each suggestion}}

      <td>
        {{#each this.students}}
        <input name="{{../this.id}}" class="tags" type="text" value="{{this.name}}, {{this.id}}">

        <br>
        {{/each}}
      </td>

      {{/each}}
      <br>
      <button class="btnAll btn2" action="submit">Stundenplan bestätigen!</button>
      <br>

      
    </form>

  </tr>

  
</table>
</div>
</div>

<div class="manage-container">
<div class="card" style="width: 80rem;">
<h3>Warteliste(Übrig gebliebene Schüler):</h3>
      {{#each waitlist}}
        {{this.name}}
        <br>
      {{/each}}
</div>
</div>





<br><br><br><br><br>