<div class="page-title">
  <h1 class="page-title">Admin - Alle Schüler</h1>
</div>

<section class="card-container">
  <p>
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <a href="/auth/signup">Füge einen neuen Schüler hinzu</a>
      </div>
    </div>
  </p>
</section>

<section class="card-container">
  <p>
    <div class="card" style="width: 80rem;">
      <div class="card-body">
        <h2>Aktive Schüler</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Telefon</th>
              <th>Adresse</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each activeStudents}}
          <tr><td>{{this.name}}</td> <td>{{this.email}}</td> <td>{{this.phone}}</td>
            <td>
            {{#if this.adress}}
            Adresse: {{this.adress}},
            {{/if}}
            </td>
            <td><a class="btnTable" href="/admin/students/edit/{{this._id}}">Bearbeiten </a></td>
            <td><a class="btnTable" href="/admin/students/delete/{{this._id}}" onclick="return confirm('Sicher, dass du diesen Schüler löschen möchtest?');">Löschen</a></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card" style="width: 80rem;">
      <div class="card-body">
        <h2>Nicht aktive Schüler</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Telefon</th>
              <th>Adresse</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each pendingStudents}}
          <tr>
            <td>{{this.name}}</td><td>{{this.email}}</td><td>{{this.phone}}</td>
            <td>
            {{#if this.adress}}
            Adresse: {{this.adress}},
            {{/if}}
            </td>
            <td><a class="btnHref" href="/admin/students/delete/{{this._id}}" onclick="return confirm('Sicher, dass du diesen Schüler löschen möchtest?');">Löschen</a></td>
            <td><a class="btnHref" href="/admin/students/activate/{{this._id}}" onclick="return confirm('Sicher, dass du diesen Schüler aktivieren möchtest?');">Aktivieren</a></td>      
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </p>
</section>