<div class="page-title">
  <h1 class="page-title">Anmeldung - Workshop</h1>
</div>
<h1>Anmeldung Workshops</h1>
<form action="/anmeldung/workshops" method="post">

  <label for="name">Name <font color="red" size="5px">*</font></label>
  <input type="text" name="name" id="name" {{#if user}} value="{{user.name}}" {{/if}}>

  <br><br>

  <label for="email">Email <font color="red" size="5px">*</font></label>
  <input type="text" name="email" id="email" {{#if user}} value="{{user.email}}" {{/if}}>

  <br><br>

  <label for="phone">Phone <font color="red" size="5px">*</font></label>
  <input type="text" name="phone" id="phone" {{#if user}} value="{{user.phone}}" {{/if}}>

  <br><br>

  <label for="adress">Adress</label>
  <input type="text" name="adress" id="adress" {{#if user}} value="{{user.address}}" {{/if}}>

  <br><br>
  <label for="workshop">Workshop Choice <font color="red" size="5px">*</font></label>
  <select name="workshop" id="workshop">
    {{#each workshops}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br><br>

  <label for="message">An extra Message</label>
  <input type="text" name="message" id="message">

  <br><br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button type="submit">Anmelden</button>
</form>