<div class="page-title">
  <h1 class="page-title">Anmeldung - Kurs</h1>
</div>
<p>
  <div class="card" style="width: 60rem;">
    <div class="card-body">
      <h1>Anmeldung für einen Kurs</h1>
      <form action="/anmeldung/kurse" method="post">

        <label for="name">Name <font color="red" size="5px">*</font></label>
        <input type="text" name="name" id="name" {{#if user}} value="{{user.name}}" {{/if}}>

        <br><br>

        <label for="email">E-mail <font color="red" size="5px">*</font></label>
        <input type="text" name="email" id="email" {{#if user}} value="{{user.email}}" {{/if}}>

        <br><br>

        <label for="phone">Telefonnummer <font color="red" size="5px">*</font></label>
        <input type="text" name="phone" id="phone" {{#if user}} value="{{user.phone}}" {{/if}}>

        <br><br>

        <label for="adress">Adresse</label>
        <input type="text" name="adress" id="adress" {{#if user}} value="{{user.address}}" {{/if}}>

        <br><br>
        <label for="choice1">Erste Wahl <font color="red" size="5px">*</font></label>
        <select name="choice1" id="choice1">
          {{#each courses}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <br>
        <label for="choice2">Zweite Wahl (optional)</label>
        <select name="choice2" id="choice2">
          <option value="">None</option>
          {{#each courses}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <br>
        <label for="choice3">Dritte Wahl (optional)</label>
        <select name="choice3" id="choice3">
          <option value="">Keine</option>
          {{#each courses}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <br><br>

        <label for="message">Weitere Mitteilung</label>
        <input type="text" name="message" id="message">

        <br><br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <button type="submit">Anmelden</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <img src="https://static.wixstatic.com/media/591c392b8ecd50d325e1041d0411bc94.jpg/v1/fill/w_166,h_164,al_c,q_80,usm_0.66_1.00_0.01/591c392b8ecd50d325e1041d0411bc94.webp"
        alt="Nähkurs" class="card-img-top">
    </div>
  </div>
</p>