<h1></h1>
<p>Welcome to {{title}}</p>
<p>
  {{#each posts}}
  <div class="card" style="width: 18rem;">
    {{#if this.imgPath}}
    <img src="{{ this.imgPath }}" alt="{{ this.imgName }}" class="card-img-top" />
    {{/if}}
    <div class="card-body">
      <h5 class="card-title">{{this.header}}</h5>
      <p class="card-text">{{this.content}}</p>
      <h6 class="card-subtitle mb-2 text-muted">by {{this._creator.name}}</h6>
    </div>
  </div>
  {{/each}}
  <a href="/seeAllPosts">See all posts</a>
</p>