<div class="page-title">
  <h1 class="page-title">Meine Kurse und Workshops</h1>
</div>
<p>
  {{#each course}}
  <div class="card" style="width: 100rem;">
    <div class="card-body">
      <h2>{{this.name}}</h2>
      <h3>Pro Abend können in diesem Kurs {{this.skippingSpots}} Personen aussetzen</h3>
      <table class="table">
        <tr>
          <th>Daten:</th>
          {{#each this.dates}}
          <th>{{this.date}}</th>
          {{/each}}
        </tr>
        <tr>
          <th>Aussetzende Schüler:</th>
          {{#each this.dates}}<td>
            {{#each this.skip}}
              {{this}}<br/>
            {{/each}}</td>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>
  {{/each}}
  {{#each workshop}}
  <div class="card" style="width: 100rem;">
    <div class="card-body">
      <h2>{{this.name}}</h2>
      <table class="table">
        <tr>
          <th>Daten:</th>
          {{#each this.dates}}
          <th>{{this.date}}</th>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>
  {{/each}}
</p>