<h1>My course</h1>
{{#each course}}
<h2>{{this.name}}</h2>
<p>
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <table>
        <tr>
          {{#each this.dates}}
          <th>{{this.date}}</th>
          {{/each}}
        </tr>
        <tr>
          {{#each this.dates}}
          <td>{{this.skip}}</td>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>
</p>
{{/each}}
{{#each workshop}}
<h2>{{this.name}}</h2>
<p>
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <table>
        <tr>
          {{#each this.dates}}
          <th>{{this.date}}</th>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>
</p>
{{/each}}