<div class="page-title">
  <h1 class="page-title">My courses and workshops</h1>
</div>
<p>
  {{#each course}}
  <div class="card" style="width: 100rem;">
    <h2>{{this.name}}</h2>
    <div class="card-body">
      <table class="table">
        <tr>
          {{#each this.dates}}
          <th>{{this.date}}</th>
          {{/each}}
        </tr>
        <tr>
          {{#each this.dates}}
          <td>{{this.skip}}</td>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>
  {{/each}}
  {{#each workshop}}
  <div class="card" style="width: 100rem;">
    <h2>{{this.name}}</h2>
    <div class="card-body">
      <table class="table">
        <tr>
          {{#each this.dates}}
          <th>{{this.date}}</th>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>
  {{/each}}
</p>